<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>spreeMarket</title>
  <link href='/stylesheets/bootstrap/bootstrap.min.css' rel="stylesheet" type="text/css" />
  <link href='/stylesheets/app.css' rel="stylesheet" type="text/css" />
  <link href='/stylesheets/services.css' rel="stylesheet" type="text/css" />
  <script src="/javascripts/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap/bootstrap.min.js" type="text/javascript"></script>
  <script src="/javascripts/services.js" type="text/javascript"></script>
  <script src="/javascripts/controllers.js" type="text/javascript"></script>
</head>
<body>
<div>
<%= render 'layouts/header_top' %>
  <div class="submenu-section" style="font-size: 2rem;">
    <div class="container">
      <ul>
        <li><a href="#e-commerce">E-Commerce</a></li>
        <li><a href="#web-design">Web Design</a></li>
        <li><a href="#web-development">Web Development</a></li>
        <li><a href="#online-marketing">Online Marketing</a></li>
      </ul>
    </div>
  </div>
  <div class="services-ecommerce-section" id="e-commerce">
    <div class="container" style="  padding: 100px 20px 75px 20px">
      <div class="header"> <h2>E-commerce</h2>
        <p class="format">We are experts in creating custom online stores.
          From marketing analysis to design, from development to launch and maintenance we take care of the whole process.
          Our goal is to satisfy our clients by making their investment profitable.</p>
      </div>
      <div class="mobile-shopping">
        <span class="svg-icon mobile_shopping-icon"></span>
        <h4>Mobile shopping</h4>
        <p style="width: 100%;line-height: 7.35mm;font-size: 17px;">With the continuous increase in the number of mobile devices the optimization of e-commerce websites for such new platforms has become an important requirement.
          That’s why we make our on-line stores accessible from smartphones and tablets.</p>
      </div>
      <div class="products-migration">
        <span class="svg-icon products_migration-icon"></span>
        <h4>Products migration</h4>
        <p style="width: 100%;line-height: 7.35mm;font-size: 17px;">If you need to switch to another e-commerce platform without losing all your products, we can help you migrate your database. We support platforms such as Magento, PrestaShop, OpenCart and others.</p>
      </div>
        <div class="inventory-integration">
      <span class="svg-icon inventory_integration-icon"></span>
      <h4>Inventory Integration</h4>
      <p style="width: 100%;line-height: 7.35mm;font-size: 17px;">Do you have a physical store and want to launch your business on the web? This is the right time.
        If you use an Inventory Management software you are already halfway there. We can integrate your software into our e-commerce solution without changing your workflow.</p>
    </div>
    </div>
  </div>
  <div class="services-spree-section" id="spree">
    <div class="container" style="  padding: 100px 20px 75px 20px">
      <div class="spree-description" style="margin: 11px;font-size: 16px;line-height: 3.5rem;">
        <h2>Spree Commerce</h2>
        <p>For our e-commerces we chose Spree, a 100% open source platform powered by the popular Ruby on Rails framework.
          We love it because it’s secure, robust and particularly flexible.It allows us to develop great custom features for our clients.
          We are a <a href="https://spreecommerce.com/solution_partners" style="text-decoration: underline; color: #000;">Spree Certified Partner</a> and we’ve been contributing to the development of the project and its extensions on GitHub.</p>
      </div>
      <div class="spree-image"></div>
    </div>
  </div>
  <div class="services-webdesign-section" id="web-design">
    <div class="container" style="  padding: 100px 20px 75px 20px">
      <div class="header">
        <h2>Web Design</h2>
        <p  class="format">We design beautiful and functional websites and web applications.
          From a sketch to a wireframe, from a mockup to an interactive experience, our main goal is to quickly deliver your message to your users.</p>
      </div>
      <div class="uiux-design">
        <span class="svg-icon ui_ux-icon"></span>
        <h4>UI/UX Design</h4>
        <p style="width: 100%;line-height: 7.35mm;font-size: 17px;">We bring projects to life starting from an initial prototype up to a clean and consistent interface.
          We work hard to create products that our clients and their users enjoy. </p>
      </div>
      <div class="responsive">
        <span class="svg-icon rwd-icon"></span>
        <h4>Responsive Web Design</h4>
        <p style="width: 100%;line-height: 7.35mm;font-size: 17px;">With the increased usage of mobile devices web content must be accessible anywhere and everywhere.
          That’s why we make web pages that fit all screen sizes.</p>
      </div>
      <div class="branding">
        <span class="svg-icon branding-icon"></span>
        <h4>Branding</h4>
        <p style="width: 100%;line-height: 7.35mm;font-size: 17px;">Along with the new design of your website we can help you build or improve your image in order to communicate the value of your brand in its entirety.</p>
      </div>
    </div>
  </div>
  <div class="services-webdevelopment-section" id="web-development">
    <div class="container" style="  padding: 100px 20px 75px 20px;">
      <div class="header">
        <h2>Web Development</h2>
        <p class="format">We create web applications that just work. From deploying an existing open source platform to building a fully custom application,
          we provide the solution to our clients' need. By using the right tools and a workflow focused on stability,
          maintainability and performance, we make sure our work always delivers the value it should.</p>
      </div>
      <div class="cms">
        <div class="sub-image">
          <span class="svg-icon cms-icon"></span>
        </div> <div class="sub-text" style="text-align: left;">
        <h4>Content Management System</h4>
        <p style="width: 100%;line-height: 7.35mm;font-size: 15px;">Do you need to edit your web content? We can provide you full control of your website so you can easily manage text, images, videos and multiple languages.
          We can also build custom features for your needs.</p>
      </div>
      </div>
      <div class="maintenance">
        <div class="sub-image">
          <span class="svg-icon maintenance-icon"></span>
        </div>
        <div class="sub-text" style="text-align: left;">
          <h4>Maintenance</h4>
          <p style="width: 100%;line-height: 7.35mm;font-size: 15px;">Have a web application or e-commerce which needs some love? We use cloud provisioning technologies to ensure our clients' applications are always healthy, fast and secure.</p>
        </div>
      </div>
      <div class="testing">
        <div class="sub-image">
          <span class="svg-icon testing-icon"></span>
        </div>
        <div class="sub-text" style="text-align: left;">
          <h4>Testing</h4>
        <p style="width: 100%;line-height: 7.35mm;font-size: 15px;">We describe project features as a list of automated tests called ‘user stories’ which run at each code change.
          By doing this we know new features won’t break what has already been done.
          Additionally, we make sure we fully understand our clients' needs.</p>
        </div> </div> <div class="ember">
      <div class="sub-image">
        <span class="svg-icon ember-icon"></span>
      </div>
      <div class="sub-text" style="text-align: left;"> <h4>Ember</h4>
        <p style="width: 100%;line-height: 7.35mm;font-size: 15px;">We provide consultancy for rich client side applications served by server side APIs.
        There are a lot of alternatives right now but we’ve chosen to do it the Ember way.
        We’ve been working with it from its early stages and we really feel this framework will make the difference.</p>
      </div>
    </div>
    </div>
  </div>
  <div class="services-ror-section" id="ruby-on-rails">
    <div class="container" style="  padding: 100px 20px 75px 20px; text-align: center;">
      <div class="ror-image">
        <span class="svg-icon ruby-icon"></span>
      </div>
      <div class="ror-description"> <h2>Ruby on Rails Development</h2>
        <p>Most of our projects are built with Ruby on Rails.
          We think it’s the best framework around when you need to build powerful web applications that will leave a mark.
          Rails promotes great standards that make it possible for us to concentrate on what it’s valuable for our clients.</p>
      </div>
    </div>
  </div>
  <div class="services-marketing-section" id="online-marketing">
    <div class="container" style="  padding: 100px 20px 75px 20px;">
      <div class="header" style="text-align: center;">
        <h2>Online Marketing</h2>
        <p class="format">The Internet is a crowded place, it is hard to gain visibility to promote and sell products or services online.
          We can help you reach your potential customers and bring value to your brand through effective marketing campaigns.</p>
      </div>
      <div class="ppc-marketing">
        <div class="sub-image">
          <span class="svg-icon ppc-icon"></span>
        </div>
        <div class="sub-text">
          <h4>PPC Campaigns</h4>
          <p style="width: 100%;line-height: 7.35mm;font-size: 15px;">We build and manage strategic Pay-Per-Click campaigns on Google Adwords and Facebook Advertising.
            We can promote your business using targeted keywords that help you to reach quickly the right target audience.</p>
        </div>
      </div>
      <div class="seo-marketing">
        <div class="sub-image">
          <span class="svg-icon seo-icon"></span>
        </div>
        <div class="sub-text">
          <h4>SEO (Search Engine optimization)</h4>
          <p style="width: 100%;line-height: 7.35mm;font-size: 15px;">We can improve the ranking of your online business on search engines by using the right tools and techniques.
            We can optimize your website and build SEO campaigns to bring long-term benefits to your investment.</p>
        </div>
      </div>
      <div class="social-media-marketing">
        <div class="sub-image">
          <span class="svg-icon social_media-icon"></span>
        </div>
        <div class="sub-text"> <h4>Social Media</h4>
          <p style="width: 100%;line-height: 7.35mm;font-size: 15px;">We can give more visibility to your brand on social networks, blogs and virtual communities through social media marketing campaigns.
          This will help you build an online connection between you and your existing and potential customers.</p>
        </div>
      </div>
      <div class="email-marketing">
        <div class="sub-image">
          <span class="svg-icon email_marketing-icon"></span>
        </div>
        <div class="sub-text">
          <h3>Email Marketing</h3>
          <p style="width: 100%;line-height: 7.35mm;font-size: 15px;">We can help you build a relationship with your customers by creating effective and customized email marketing campaigns.
            By sending regular newsletters you can always keep your customers informed about your business' latest news, such as product updates and new content.</p>
      </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/need_help' %>
  </div>
</body>
</html>