<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <title>spreeMarket</title>
  <link href='/stylesheets/bootstrap/bootstrap.min.css' rel="stylesheet" type="text/css" />
  <link href='/stylesheets/app.css' rel="stylesheet" type="text/css" />
  <script src="/javascripts/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap/bootstrap.min.js" type="text/javascript"></script>
  <script src="/javascripts/services.js" type="text/javascript"></script>
  <script src="/javascripts/controllers.js" type="text/javascript"></script>
</head>
<body>
<div>
  <%= render 'layouts/header_top' %>
  <div class="row margin_zero">
    <div class="container sub-cont">
      <div class="text">
        <h2>What we do</h2>
        <p class="format">We provide an extensive range of capabilities, from design and web development to online marketing. This allows us to take care of every aspect of the projects we work on. We share a passion for our work and a common goal: launching high quality products.</p>
      </div>
      <div>
        <div class="col-md-3 col-xs-12 col-sm-12">
          <a href="#" class="thumbnail" style="border: transparent;color: #181A1B; text-decoration: none;"><img src="images/ecommerce.png"> <h4 class="thumb_header">E-commerce</h4> <p class="p_text">We create solid online stores powered by the Spree e-commerce platform.</p></a>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-12">
          <a href="#" class="thumbnail" style="border: transparent;color: #181A1B; text-decoration: none;"><img src="images/web_design.png"> <h4 class="thumb_header">Web Design</h4> <p class="p_text">We design simple and functional websites.</p> </a>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-12">
          <a href="#" class="thumbnail" style="border: transparent;color: #181A1B; text-decoration: none;"><img src="images/web_development.png"> <h4 class="thumb_header">Web Apps</h4> <p class="p_text">We make powerful Ruby on Rails web applications.</p> </a>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-12">
          <a href="#" class="thumbnail" style="border: transparent;color: #181A1B; text-decoration: none;"><img src="images/online_marketing.png"><h4 class="thumb_header">Online Marketing</h4> <p class="p_text">We plan and manage well-structured SEO, PPC and email marketing campaigns.</p> </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin_zero" style="background: #f6f6f6">
    <div class="container sub-cont">
      <div class="text">
        <h2>Our Work</h2>
        <p class="format">Solving our client’s problems is what we do. We do it believing in the projects we work on from the beginning to the end. Here are our latest projects.</p>
      </div>
      <div class="row">
        <div id="SuperMedWeb" class="col-md-4 col-xs-12 col-sm-12" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">
          <div id="id1" style="color: white;">
            <a href="#" class="thumbnail"><img src="images/life.jpg" style="height: 242px;"></a>
          </div>
          <div class="mouse_hover" id="id2" >
            <h4 class="hover_title">Supermedweb</h4>
            <button type="button" class="btn btn-default hover_button">View Details</button>
          </div>
        </div>
        <div id="ScreenWeek" class="col-md-4 col-xs-12 col-sm-12" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">
          <div id="id3">
            <a href="#" class="thumbnail"><img src="images/image_4.jpg" style="height: 242px;"></a>
          </div>
          <div class="mouse_hover" id="id4" >
            <h4 class="hover_title">ScreenWeek</h4>
            <button type="button" class="btn btn-default hover_button">View Details</button>
          </div>
        </div>
        <div id="FanPrint" class="col-md-4 col-xs-12 col-sm-12" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">
          <div id="id5">
            <a href="#" class="thumbnail"><img src="images/image_3.jpg" style="height: 242px;"></a>
          </div>
          <div class="mouse_hover" id="id6" >
            <h4 class="hover_title">FanPrint</h4>
            <button type="button" class="btn btn-default hover_button">View Details</button>
          </div>
        </div>
      </div>
      <div class="row" style="text-align: center;  margin-top: 40px;">
        <button type="button" id="button_1" class="btn btn-default" style="  padding: 13px 23px;  font-size: 20px;background-color: #f6f6f6; border-color: black">View More Works</button>
      </div>
    </div>
  </div>
  <%= render 'layouts/need_help' %>
</div>
</body>
</html>
