.h_button{
    border-radius: 4px;
    font-size: 15px;
    display: inline-block;
    border: none;
    background: #0099cc;
    color: white !important;
    cursor: pointer;
    line-height: normal;
    padding: 13px 23px !important;
    transition: border, 0.5s;
    background: none;
    border: 1px solid white;
}
.link{
    font-size: 14px;
    margin: 20px 20px 0;
    font-weight: 500;
    text-transform: uppercase;
    color: white !important;
    margin-top: 0;
    padding-right: 0 !important
}
#header {
    background: url("/images/life.jpg") no-repeat;
    background-size: 100%;
    height: 400px;
}

ul li:after {
    content: "|";
}
ul li:last-child:after {
    content: "";
}

.contact-us-form-wrapper .submenu-section a.active {
    color: #0099cc;
}
.container {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;

}
.contact-us-form-wrapper {
    float: left;
    display: block;
    margin-right: 2%;
    width: 49%;
}

.contact-us-form-wrapper .submenu-section {
    margin-bottom: 30px;
    text-align: left;
}

.submenu-section ul {
    list-style-type: none;
    color: #888888;
}
.submenu-section ul, .submenu-section ul li {
    margin: 0px;
    padding: 0px;
    display: inline;
}

.contact-us-form-wrapper .submenu-section li:first-child a {
    margin-left: 0;
}

.contact-us-form-wrapper .submenu-section ul li a {
    font-size: 22px;
    font-size: 1.375rem;
}

.fonts {
    font-family: "museo-sans", sans-serif;
    font-weight: 300;
    line-height: 1.75em;
    -webkit-font-smoothing: antialiased;
    color: #141414;
    font-size: 100%;
}

label, legend {
    font-size: 18px;
    font-size: 1.125rem;
    /* display: block; */
    padding: 6px 0 6px;
}
.text_box {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border: 1px solid #e6e6e6;
    outline: none;
    display: block;
    background: #f6f6f6;
    font-weight: inherit;
    -webkit-appearance: none;
    padding: 8px 2%;
}

textarea {
    min-height: 174px;
}
.button{
    zoom: 1;
    border: none;
    background: #0099cc;
    color: white;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 13px 23px;
    width: 100%;
}
.notifications{
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -190px;
    margin-bottom: -190px;
    width: 380px;
    height: 390px;
    background: white;
    z-index: 100;
    text-align: center;
}

.loading-overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 99;
    cursor: pointer;
}

.notifications .notification-close {
    position: absolute;
    top: 20px;
    right: 20px;
    overflow: hidden;
    width: 15px;
    height: 14px;
    background: url("/images/close.png") no-repeat top left;
    cursor: pointer;
}

.notifications .notification-close:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.paper_plane-icon, .notifications .notification:before {
    background: url("/images/paper_plane.png") no-repeat top left;
    background-image: url("/images/paper_plane.svg"), none;
    background-size: contain;
}

.notifications .notification:before {
    content: "";
    display: block !important;
    margin: 0 auto;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    width: 200px;
    height: 200px;
}

.notifications .notification {
    margin: 20px auto 0;
    line-height: 60px;
    display: block;
}
