.h_button{
    border-radius: 4px;
    font-size: 15px;
    display: inline-block;
    border: none;
    background: #0099cc;
    color: white !important;
    cursor: pointer;
    line-height: normal;
    padding: 13px 23px !important;
    transition: border, 0.5s;
    background: none;
    border: 1px solid white;
}
.link{
    font-size: 14px;
    margin: 20px 20px 0;
    font-weight: 500;
    text-transform: uppercase;
    color: white !important;
    margin-top: 0;
    padding-right: 0 !important
}
#header {
    background: url("/images/life.jpg") no-repeat;
    background-size: 100%;
    height: 400px;
}

.text{
    float: left;
    display: block;
    width: 83%;
    margin-left: 8.5%;
    text-align: center;
    padding-bottom: 60px;
}
.format{
    margin-top: 25px;
    font-size: 20px;
    font-family: initial;
}

.sub-cont{
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 20px 75px 20px;"
}

.thumb_header{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.p_text{
    font-size: 15px;
    text-align: center;
}
.mouse_on{
    background-color: #000000 !important;
    color:#ffffff !important;
}

.mouse_on_about{
    background-color: #ffffff !important;
    color:#000000 !important;
}
.mouse_hover{
    text-align: center;
    background-color: #000000;
    transition: opacity, 0.5s;
    padding: 40px;
    position: absolute;
    left:15px;
    right:15px;
    top:0px;
    bottom: 22px;
    padding-top: 30%;
    opacity:0.8;
    -webkit-transition: opacity, 0.8s;
    -moz-transition: opacity, 0.8s;
    transition: opacity, 0.8s;
}

.hover_button{
    padding: 13px 23px;
    font-size: 20px;
    background-color: #000000;
    border-color: #ffffff;
    color: white;
}

.nav_bar{
    padding: 15px;
    position: fixed;
    width:100%;
    z-index: 50;
    transition: background-color, 0.5s;
}

.margin_zero{
    margin: 0 !important;
}
/*Work css*/

.margin_top{
    margin-top: 60px
}
.hover_title{
    color: #ffffff;
    padding-bottom: 10px;
}


/*about us*/

.carousel-indicators li{
    display: inline-block;
    width: 10px;
    height: 10px;
    /* margin: 1px; */
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 ;
    /*background-color: rgba(0,0,0,0);*/
    background: #d4d4d4;
    /*border: 1px solid #333;*/
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #888;
}
.sub-cont {
    border-bottom: 1px solid #e6e6e6;
}
.flex-control-paging li a:hover {
    background: #333;
}
.carousel-indicators li  {
    width: 9px;
    height: 9px;
    display: block;
    background: #d4d4d4;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

    ul li:last-child:after {
        content: "";
    }

    .contact-us-form-wrapper .submenu-section a.active {
        color: #0099cc;
    }

    .container {
        max-width: 1040px;
        margin-left: 16%;
        margin-right: auto;

    }

    .contact-us-form-wrapper {
        float: left;
        display: block;
        margin-right: 2%;
        width: 49%;
    }

    .contact-us-form-wrapper .submenu-section {
        margin-bottom: 25px;
        text-align: left;
        margin-top: 18px;
    }

    .submenu-section ul {
        list-style-type: none;
        color: #0099cc;
    }

    .submenu-section ul, .submenu-section ul li {
        margin: 0px;
        padding: 0px;
        display: inline;
    }

    .contact-us-form-wrapper .submenu-section li:first-child a {
        margin-left: 0;
    }

    .contact-us-form-wrapper .submenu-section ul li a {
        font-size: 22px;
        font-size: 1.375rem;
    }

    .fonts {
        font-family: "museo-sans", sans-serif;
        font-weight: 300;
        line-height: 1.75em;
        -webkit-font-smoothing: antialiased;
        color: #141414;
        font-size: 100%;
    }

    label, legend {
        font-size: 18px;
        font-size: 1.125rem;
        /* display: block; */
        padding: 6px 0 6px;
    }

    .text_box {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        border: 1px solid #57A0B6;
        outline: none;
        display: block;
        background: #f6f6f6;
        font-weight: inherit;
        -webkit-appearance: none;
        padding: 8px 2%;
    }

    textarea {
        min-height: 174px;
    }

    .button {
        zoom: 1;
        border: none;
        background: #0099cc;
        color: white;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        padding: 13px 23px;
        width: 100%;
    }

    .notifications {
        border-radius: 5px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -190px;
        margin-bottom: -190px;
        width: 380px;
        height: 390px;
        background: white;
        z-index: 100;
        text-align: center;
    }

    .loading-overlay {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 99;
        cursor: pointer;
    }

    .notifications .notification-close {
        position: absolute;
        top: 20px;
        right: 20px;
        overflow: hidden;
        width: 15px;
        height: 14px;
        background: url("/images/close.png") no-repeat top left;
        cursor: pointer;
    }

    .notifications .notification-close:before {
        content: "";
        display: block;
        width: 0;
        height: 100%;
    }

    .paper_plane-icon, .notifications .notification:before {
        background: url("/images/paper_plane.png") no-repeat top left;
        background-image: url("/images/paper_plane.svg"), none;
        background-size: contain;
    }

    .notifications .notification:before {
        content: "";
        display: block !important;
        margin: 0 auto;
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        width: 200px;
        height: 200px;
    }

    .notifications .notification {
        margin: 20px auto 0;
        line-height: 60px;
        display: block;
    }

    .ul-error-list {
        list-style: none;
        padding: 0;
        color: #0099cc;
    }

    .ul-error-list li {
        list-style-image: none;
        list-style-type: none;
        margin-left: 0;
    }

    .contents {
        font-family: "museo-sans", sans-serif;
        font-size: 1.650rem;
        font-weight: 500;
    }

    .contact-us-info-section {
        float: left;
        display: block;
        width: 32%;
        margin-left: 17%;
        text-align: left;
        margin-right: 16%;
        margin-top: 26px;
    }

    .contact-us-info-section h4:first-child {
        margin-top: 0;
    }

    .contact-us-info-section:last-child {
        margin-right: 0;
    }

    .shared-headings, h1, h2, h3, h4, h5, h6 {
        margin: 0 0 9px;
        line-height: 1em;
        font-weight: 300;
    }

    .contact-us-main-section p {
        margin-top: 0;
        -webkit-padding-start: 0px;

    }

    .contact-us-info-section p a {
        display: block;
        color: #888888;
        text-decoration: none;
    }

    ul.social-networks {
        margin: 23px;
        padding: 46px;
        border: 0;
        margin-top: 0px;
        padding-top: 10px;
        display: block;
        padding-left: 0px;
    }

    ul.social-networks li {
        list-style-image: none;
        list-style-type: none;
        margin-left: 0;
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        white-space: nowrap;
    }
    .text-align{
        text-align: left;
    }

.nav_float{
    float: right !important
}
.back-to-top{
    position: fixed;
    bottom: 40px;
    right: 30px;
    width: 61px;
    height: 61px;
    background: url(../images/back_to_top.png);
    display: none;
    -webkit-backface-visibility: hidden;
    z-index: 1000;

}

@media only screen and (max-width: 768px) {
    .nav_float {
        float: none !important;
        text-align: center;
    }
    .text-align{
        text-align: center;
    }
    .contact-us-info-section {
        display: none;
    }

}