<div class="footer">
  <div class="container">
    <div class="footer-section footer-contact">
      <h4>Pescara</h4> <p> <a target="blank" href="tel:+3908551500">(+39) 085 51500</a>
      <a target="blank" href="https://goo.gl/maps/Pogvy">Via Cetteo Ciglia, 70</a>
      <a target="blank" href="https://goo.gl/maps/Pogvy">65128 Pescara, Italy</a>
      </p>
      <h4>Latina</h4> <p>
      <a target="blank" href="tel:+390773602361">(+39) 0773 602361</a>
      <a target="blank" href="//goo.gl/Rggbdk">Via Ufente, 20</a>
      <a target="blank" href="//goo.gl/Rggbdk">04100 Latina, Italy</a> </p>
      <ul class="icons social-networks">
        <li><a target="blank" href="//twitter.com/nebulab_it"><i class="ss-icon ss-twitter"></i></a> </li>
        <li><a target="blank" href="//github.com/nebulab"><i class="ss-icon ss-octocat"></i></a> </li>
        <li><a target="blank" href="https://www.facebook.com/teamnebulab"><i class="ss-icon ss-facebook"></i></a>
        </li> <li><a target="blank" href="https://instagram.com/teamnebulab/"><i class="ss-icon ss-instagram"></i></a>
      </li> <li><a target="blank" href="//www.linkedin.com/company/nebulab"><i class="ss-icon ss-linkedin"></i></a> </li>
      </ul>
    </div> <div class="footer-section footer-blog"> <h3 class="footer-section-title">Blog</h3>
    <ul>
      <li> <a href="/blog/authentication-with-rails-jwt-and-react/">Authentication with Rails, JWT and ReactJS</a> <p class="blog-post-date">13 Mar 2015</p> </li>
      <li> <a href="/blog/installing-devise-invitable-on-spree/">Installing Devise Invitable on Spree</a> <p class="blog-post-date"> 8 Sep 2014</p> </li>
      <li> <a href="/blog/using-npm-like-bundler/">Using npm like Bundler</a> <p class="blog-post-date"> 1 Jul 2014</p> </li>
    </ul>
  </div> <div class="footer-section footer-twitter"> <h3 class="footer-section-title">Twitter</h3>
    <ul> <li> <p><a target="blank" href="https://twitter.com/nebulab_it/status/607826316654690304">RT @dgeb: JSON API 1.0 - a new post about the @jsonapi spec, its journey to 1.0, and what's next. http://t.co/lSHRRLNU0z</a></p> <p class="tweet-date"> 8 Jun 8:27 am</p> </li>
      <li> <p><a target="blank" href="https://twitter.com/nebulab_it/status/606756590381891584">RT @rubydayit: We are excited to announce our first awesome speakers! Welcome on board @weppos and @jodosha!</a></p> <p class="tweet-date"> 5 Jun 9:36 am</p> </li>
    </ul> </div> </div> </div>




<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
            d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
            _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
        $.src='//cdn.zopim.com/?1JPULCVdUq4EPLVvAt0SZ9QtnrtEk7O3';z.t=+new Date;$.
                type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->