<div class="row margin_zero"  id="header">
  <nav id="nav" class="navbar navbar-inverse" style="  padding: 15px; position: fixed; width:100%;  z-index: 50;  transition: background-color, 0.5s;">
    <div class="container" style="  max-width: 1040px;  margin-left: auto;  margin-right: auto;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="color: white;">Brand</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav nav_float" >
          <li><a href="work"  class="link"><span class="links">work</span></a></li>
          <li><a href="services" class="link"><span class="links">services</span></a></li>
          <li><a href="about" class="link"><span class="links">about us</span></a></li>
          <li><a href="contact_us" class="link"><span class="links">contact us</span></a></li>
          <li><a href="blogs" class="link"><span class="links">blog</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>