<div class="row" style="margin: 0">
  <div class="container sub-cont" style="margin-bottom: -115px;">
    <div class="text" style="padding-bottom: 30px;">
      <h2> Need our help?</h2>
    </div>
    <div style="text-align: center;">
      <button type="button" class="btn btn-info" style="  padding: 13px 23px;   font-size: 20px;">Get in touch</button>
    </div>
    <div class="container sub-cont">
    </div>
  </div>
</div>